<body>
 <h1 class="header">ようこそ Bookers へ!</h1>
 <p>
   <span class="bookers">Bookers</span>
   では、さまざまな書籍に関するあなたの意見や
 </p>
 <p>
   印象を共有し、交換することができます
 </p>

 <span class="link"><%= link_to "start",books_path %></span>
</body>
